* {
  font-family: hind, Arial, Helvetica, sans-serif;
}

header {
  border-bottom: 2px solid #000;
  width: 100%;
  height: 400;
  background-color: #377C9E;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
}

header img {
  width: 153.525px;
  height: 41px;
  padding-bottom: 22px;
  position: relative;
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: none;
}

a:before {
  content: "";
  display: block;
  height: 20px;
  width: 5px;
  background-color: #000;
}

header ul {
  margin-top: 23px;
  text-align: center;
  width: auto;
  height: 20px;
  background-color: none;
}

header li {
  background-color: none;
  text-align: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  margin-left: 20px;
  list-style: none;
}

header li:hover {
  color: #fff;
  transition: 0.22s;
}

.menu {
  align-items: center;
  background-color: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.imagem {
  display: flex;
}

.gui {
  color: #5EBCEB;
  text-align: center;
  background-color: none;
  width: 350px;
  height: 40px;
  font-weight: bold;
  font-size: 22px;
  margin-left: -17px;
  margin-top: 22px;
}

.gui::before {
  content: "";
  width: 1.5px;
  height: 50px;
  position: absolute;
  background-color: #000;
  margin-left: -145px;
  margin-top: 7px;
}

/*section */

section {
  width: 100%;
  height: 440px;
  position: absolute;
  margin-top: 97px;
  left: 0;
  right: 0;
  background-image: url('meio-logo.png');
  background-size: cover;
}

section img {
  width: 100%;
  height: 100%;
}

.titulo {
  text-align: center;
  letter-spacing: 1px;
  color: #fff;
  font-weight: bold;
  font-size: 35px;
  display: block;
  position: relative;
  top: 170px;
}

.slogan {
  text-align: center;
  display: block;
  font-size: 14px;
  font-weight: bold;
  top: 180px;
  color: #fff;
  position: relative;
  letter-spacing: 0.03em;
}

.slogan::before, .slogan::after {
  content: "";
  width: 110px;
  height: 2px;
  display: block;
  background-color: #fff;
  margin: 20px auto 20px auto;
}

.principal {
  margin: 0 auto;
  text-align: center;
  color: #fff;
  width: 100px;
  font-weight: 700;
  font-size: 12px;
  position: relative;
  top: 210px;
  background-color: #960064;
  border-radius: 3px;
  padding: 13px 14px 13px 13px;
}

.principal:hover {
  background-color: #5EBCEB;
  transition: 0.22s;
}

/*meio */

main {
  width: 100%;
  height: 650px;
  background-color: #fff;
  position: absolute;
  top: 544px;
  left: 0;
  right: 0;
  border-bottom: 5px solid #377C9E;
  border-top: 5px solid #377C9E;
}

.principal1 {
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  color: #5EBCEB;
  margin: 0 auto 20px auto;
  position: relative;
  top: 50px;
}

.principal1::after {
  content: "";
  width: 90px;
  height: 2px;
  background-color: #000;
  display: block;
  margin: 20px auto 0px auto;
  box-shadow: 2px 2px 6px #555555;
}

.aps {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  top: 140px;
  height: 387px;
  border: none;
}

.ap1, .ap2, .ap3 {
  width: 383px;
  height: 386px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 2px 2px 6px #c4c4c4;
}

.foto-ap {
  width: 381px;
  border-radius: 5px;
  margin-top: -10px;
  margin-left: 2px;
}

.ap1 h1, .ap2 h1, .ap3 h1 {
  padding-top: 15px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  background-color: #377C9E;
  color: #fff;
  width: 100%;
  height: 30px;
  margin-top: 0;
}

.casa, .carro, .varanda {
  display: block;
  width: 20px;
  height: 20px;
  margin: 20px 15px;
}

.guaianazes {
  font-size: 18px;
  color: #960064;
  margin: 10px 10px;
}

.descri {
  display: flex;
}

.descri1 li {
  list-style: none;
  margin: 23px -20px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.valor {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  position: relative;
  bottom: 100px;
  left: 150px;
}

.valorn {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  bottom: 100px;
  left: 150px;
}

/* plantas */

.plantas {
  position: absolute;
  width: 100%;
  height: 640px;
  top: 1205px;
  left: 0px;
  right: 0;
  background-color: #fff;
}

.plantas h1 {
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  color: #960064;
  margin: 0 auto 20px auto;
  position: relative;
  top: 50px;
}

.plantas h1::after {
  content: "";
  width: 100px;
  height: 2px;
  background-color: #000;
  display: block;
  margin: 20px auto 0px auto;
  box-shadow: 2px 2px 6px #555555;
}

.imagens-planta {
  display: flex;
  width: 100%;
  height: 500px;
  border: none;
  align-items: center;
  background-color: none;
}

.area0 {
  background-color: none;
}

.area0 li {
  margin: 0 auto 20px;
  display: flex;
}

.area0 img {
  max-width: 300px;
}

.descr-1 {
  margin-left: 200px;
  margin-bottom: 40px;
  display: block;
}

.flecha1 {
  margin-bottom: 130px;
  margin-right: 20px;
}

.flecha3 {
  margin-bottom: 140px;
  margin-left: 20px;
}

/* footer */

footer {
  position: absolute;
  width: 100%;
  height: 120px;
  background-color: #377C9E;
  opacity: none;
  top: 1845px;
  left: 0;
  right: 0;
}

.info-footer {
  display: flex;
  justify-content: space-between;
}

.contato {
  margin-top: 10px;
  color: #fff;
}

.contato h1 {
  font-size: 20px;
}

.contato-logo img {
  margin-top: 40px;
  margin-left: 20px;
  position: relative;
  width: 30px;
  height: 30px;
}

/* JAVASCRIPT */

.ativo {
  display: block;
}

.descr-1 img {
  margin-left: 160px;
  margin-bottom: 0px;
  display: none;
}

.descr-1 img.ativo {
  margin-left: 200px;
  margin-bottom: 40px;
  display: block !important;
  animation: show .5s forwards;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0px, 0, 0);
  }
}

/* MEDIA QUERY */

/* LAPTOP */

@media only screen and (min-width:1024px) and (max-width:1440px) {
  .aps {
    flex-wrap: nowrap;
  }
  .ap1, .ap2, .ap3 {
    width: 90%;
    margin-left: 20px;
  }
  .foto-ap {
    width: 100%;
    margin-left: 1px;
    margin-right: 0;
  }
  #area {
    width: 500px;
    margin-left: 70px;
  }
}

/* CELULAR */

@media only screen and (max-width:768px) {
  /* HEADER */
  header {
    position: fixed;
    width: 100%;
  }
  .menu {
    position: relative;
    left: 0px;
    right: 0px;
  }
  header ul {
    margin-left: 30px;
  }
  header li {
    padding: 5px 2px;
    position: relative;
    bottom: 20px;
  }
  /* LOGO MEIO */
  section {
    width: 700px;
    height: 600px;
    position: absolute;
    top: 67px;
    left: 0;
    right: 0;
    background-position: center;
    background-image: url('meio-logo.png');
    background-size: cover;
  }
  /* EMPREENDIMENTOS */
  main {
    position: absolute;
    width: 700px;
    height: 1600px;
    top: 764px;
  }
  .aps {
    left: 63px;
    margin-bottom: 20px;
  }
  .ap1, .ap2, .ap3 {
    width: 360px;
    margin-bottom: 40px;
  }
  .foto-ap {
    width: 360px;
  }
  /* PLANTA */
  .plantas {
    width: 700px;
    height: 1000px;
    top: 2375px;
    background-color: none;
  }
  .imagens-planta {
    position: relative;
    top: 80px;
  }
  .foto-planta {
    margin-left: 20px;
    width: 400px;
    height: 200px;
  }
  .seta1, .seta2 {
    visibility: hidden;
    position: relative;
    width: 20px;
  }
  .flecha1 {
    position: relative;
    left: 30px;
    top: 255px;
  }
  .flecha2 {
    position: relative;
    right: 40px;
    bottom: 150px;
  }
  .flecha3 {
    bottom: 170px;
    left: 360px;
  }
  .flecha4 {
    bottom: 70px;
  }
  .area1 {
    margin-top: 50px;
    margin-left: 50px;
  }
  /* FOOTER */
  footer {
    width: 700px;
    top: 3275px;
    bottom: 0;
  }
}
